<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <title></title>
</head>
<body>
    <div class="col-md-3"></div>
     <div class="col-md-7">  
    <div class="container"> 
        <div class="col-md-9">
            <h1>    Confirmar Pregunta </h1>
            <h3>
                Equivalencia MiB
            </h3>
            <p> Pregunta multiple</p>
            <div class="radio">
                <div>
              <label>
                    <input type="radio" value="2^10 B">
                    2^10 B </b>
                </label>
                </div>
                <div>
                <label>
                    <input type="radio" value="2^20 B">
                    2^20  </b>
                </label>  
                </div>
                <div>
                <label>
                    <input type="radio" value="10^16 B">
                    10^16 B </b>
                </label> 
                </div>
                <div>
                <label>
                    <input type="radio" value="2^22 B">
                    2^22 B
                </label>
                </div>
                <div class= "col-md-9">
                <dl><a class="btn btn-success" href="">Enviar pregunta</a></dl>
                <dl><a class="btn btn-danger" href="">volver</a></dl>
                </div>
            </div>
            
            
        </div>
    </div>
    </div> 


</body>
</html>
